body {
  margin: 0;
  direction: rtl;
  width: 100vw;
  height: 100vh;
}
header {
  height: 20vh;
}
main {
  height: 70vh;
}
footer {
  height: 10vh;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  border: 3px solid rebeccapurple;
}
.flex-container > .flex-item {
  display: flex;
  align-self: center;
  justify-content: space-between;
  flex-direction: row;
}
ul {
  list-style: none;
}
.logo {
  height: inherit;
}
